name: Backend CI
env:
  BUILD_CONFIG: "Release"
  SOLUTION: "be/toiec-web.sln"

on:
  pull_request:
    branches:
      - main
    paths:
      - 'be/**' 
  
permissions: write-all

jobs:
  build-and-test:
    name: Build and Test Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.x

      - name: Restore dependencies
        run: dotnet restore $SOLUTION

      - name: Build
        run: dotnet build $SOLUTION --configuration $BUILD_CONFIG

      - name: Test
        run: dotnet test $SOLUTION --configuration $BUILD_CONFIG --logger "trx;LogFileName=test-results.trx" || true

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: DotNET Tests
          path: "**/test-results.trx"
          reporter: dotnet-trx
          fail-on-error: true

  build-docker-image:
    name: Build Docker Image Backend
    runs-on: ubuntu-latest
    needs: build-and-test 

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build BE Docker Image
        run: docker build -t tranngobichdu/toeic-learning-website-be:v1 -f .deploy/be/Dockerfile .
